.background {
  background: midnightblue;
  height: 100%;
  width: 100%;
  text-align: center;
}

.header {
  padding-top: 50px;
  color: white;
  font-size: 120px;
}

.stop-info {
  color: darkorange;
  font-size: 325px;
}
